### --- Système & IDE --- ###
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp

### --- Docker & Données locales --- ###
# Si vous avez un dossier local pour persister la base de données MySQL
docker/db-data/
docker/data/

### --- Frontend --- ###
frontend/node_modules/
frontend/.sass-cache/
frontend/dist/

### --- Backend (Symfony / Composer) --- ###
backend/vendor/
backend/var/
backend/var/cache/
backend/var/log/
backend/public/bundles/

# Fichiers d'environnement sensibles
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/phpunit.xml
backend/.phpunit.result.cache